.login input {
    margin-top: 20px;
}

.header-login {
    padding-bottom: 20px;
    color: #0275d8;
}

.header-login h4 {
    font-size: 30px;
}

.login a {
    color: #d9534f;
}

.login a:hover {
    color: #0275d8;
}