.notfound {
    position: relative;
    margin-top: 230px;
    margin-bottom: 250px;
}

.notfound h5 {
    text-align: center;
    font-size: 30px;
    color: #4040ff;
}

.notfound h3 {
    text-align: center;
    font-size: 45px;
    color: #dc143c;
    font-weight: bold;
}